<!--Armor Section-->
<div class="armors">
  <div class="text-armor" style="margin-bottom: -90px;" id="Armor">Armor</div>
  <div class="armor-inventory" style="color: white;">
      <% if (armor.length===0) { %>
          <span class="text-not-equip-armor">
              <%= username %> doesn't have any armor equipped.
          </span>
    <% } else { armor.reverse();%>
        <% for(let j = 0; j < armor.length; j++) { if(armor[j] === null) { %>
            <div class="wardrobe-set">
              <div class="piece piece-NONE-bg"></div>
            </div>
          <% } else {%>
          <% if (minecraftMaterials.includes(armor[j].material)) { %>
            <div class="wardrobe-set">
              <div class="piece piece-<%= loreToRarity(armor[j].lore); %>-bg <%= armor[j].name %>" lore="<%= armor[j].lore %>">
                <% if (armor[j].material.toLowerCase() === "stained_glass") { %>
                <div class="piece-<%=j+1%>-icon armor-piece" style="--item-icon: url('../resources/armor/glass_red.png')"></div>
                <% } else { %>
                <div class="piece-<%=j+1%>-icon armor-piece" style="--item-icon: url('../resources/armor/<%= armor[j].material.toLowerCase() %>.png')"></div>
                <% } %>
              </div>
            </div>
            <% } else if (armor[j].material.toLowerCase().includes("leather") && armor[j].material.toLowerCase().includes("helmet")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(armor[j].lore); %>-bg <%= armor[j].name %>" lore="<%= armor[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/helmet/' + intToRGB(armor[j].color).r + ',' + intToRGB(armor[j].color).g + ',' + intToRGB(armor[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else if (armor[j].material.toLowerCase().includes("leather") && armor[j].material.toLowerCase().includes("chestplate")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(armor[j].lore); %>-bg <%= armor[j].name %>" lore="<%= armor[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/chestplate/' + intToRGB(armor[j].color).r + ',' + intToRGB(armor[j].color).g + ',' + intToRGB(armor[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else if (armor[j].material.toLowerCase().includes("leather") && armor[j].material.toLowerCase().includes("leggings")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(armor[j].lore); %>-bg <%= armor[j].name %>" lore="<%= armor[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/leggings/' + intToRGB(armor[j].color).r + ',' + intToRGB(armor[j].color).g + ',' + intToRGB(armor[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else if (armor[j].material.toLowerCase().includes("leather") && armor[j].material.toLowerCase().includes("boots")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(armor[j].lore); %>-bg <%= armor[j].name %>" lore="<%= armor[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/boots/' + intToRGB(armor[j].color).r + ',' + intToRGB(armor[j].color).g + ',' + intToRGB(armor[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else { %>
              <div class="wardrobe-set">
                <div class="piece piece-<%= loreToRarity(armor[j].lore); %>-bg <%= armor[j].name %>" lore="<%= armor[j].lore %>">
                  <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armor[j].texture === undefined ? armorAttr[armor[j].type.toLowerCase()] : armor[j].texture.replace(`http://textures.minecraft.net/texture/`, `https://mc-heads.net/head/`);  %>')"></div>
                </div>
              </div>
              <% } } }%>
    <% } %>
  </div>
</div>

<!--Equipment Section-->

<% if (equipments === null || equipments === undefined) { %>
  
  <% } else { %>

<div class="armors" id="Armor">
  <div class="text-armor" style="margin-bottom: -90px;">Equipment</div>
  <div class="armor-inventory" style="color: white;">
      <% if (equipments.length===0) { %>
          <span class="text-not-equip-armor">
              <%= username %> doesn't have any equipments equipped.
          </span>
    <% } else { %>
        <% for(let j = 0; j < equipments.length; j++) { if(equipments[j] === null) { %>
            <div class="wardrobe-set">
              <div class="piece piece-NONE-bg"></div>
            </div>
          <% } else {%>
          <% if (minecraftMaterials.includes(equipments[j].material)) { %>
            <div class="wardrobe-set">
              <div class="piece piece-<%= loreToRarity(equipments[j].lore); %>-bg <%= equipments[j].name %>" lore="<%= equipments[j].lore %>">
                <% if (equipments[j].material.toLowerCase() === "stained_glass") { %>
                <div class="piece-<%=j+1%>-icon armor-piece" style="--item-icon: url('../resources/armor/glass_red.png')"></div>
                <% } else { %>
                <div class="piece-<%=j+1%>-icon armor-piece" style="--item-icon: url('../resources/armor/<%= equipments[j].material.toLowerCase() %>.png')"></div>
                <% } %>
              </div>
            </div>
            <% } else if (equipments[j].material.toLowerCase().includes("leather") && equipments[j].material.toLowerCase().includes("helmet")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(equipments[j].lore); %>-bg <%= equipments[j].name %>" lore="<%= equipments[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/helmet/' + intToRGB(equipments[j].color).r + ',' + intToRGB(equipments[j].color).g + ',' + intToRGB(equipments[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else if (equipments[j].material.toLowerCase().includes("leather") && equipments[j].material.toLowerCase().includes("chestplate")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(equipments[j].lore); %>-bg <%= equipments[j].name %>" lore="<%= equipments[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/chestplate/' + intToRGB(equipments[j].color).r + ',' + intToRGB(equipments[j].color).g + ',' + intToRGB(equipments[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else if (equipments[j].material.toLowerCase().includes("leather") && equipments[j].material.toLowerCase().includes("leggings")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(equipments[j].lore); %>-bg <%= equipments[j].name %>" lore="<%= equipments[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/leggings/' + intToRGB(equipments[j].color).r + ',' + intToRGB(equipments[j].color).g + ',' + intToRGB(equipments[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else if (equipments[j].material.toLowerCase().includes("leather") && equipments[j].material.toLowerCase().includes("boots")) { %>
                <div class="wardrobe-set">
                  <div class="piece piece-<%= loreToRarity(equipments[j].lore); %>-bg <%= equipments[j].name %>" lore="<%= equipments[j].lore %>">
                    <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/boots/' + intToRGB(equipments[j].color).r + ',' + intToRGB(equipments[j].color).g + ',' + intToRGB(equipments[j].color).b %>')"></div>
                  </div>
                </div>
              <% } else { %>
              <div class="wardrobe-set">
                <div class="piece piece-<%= loreToRarity(equipments[j].lore); %>-bg <%= equipments[j].name %>" lore="<%= equipments[j].lore %>">
                  <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= equipments[j].texture === undefined ? armorAttr[equipments[j].type.toLowerCase()] : equipments[j].texture.replace(`http://textures.minecraft.net/texture/`, `https://mc-heads.net/head/`);  %>')"></div>
                </div>
              </div>
              <% } } }%>
    <% } %>
  </div>
</div>

<% } %>