<!DOCTYPE html>

<html lang="en" class="style-scrollbar">
    <head>
        <title>SkyStats</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/css/stats.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://unpkg.com/tippy.js@6/animations/scale.css" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-Frame-Options" content="deny">

    </head>

    <body>
        <div id="overlay" onclick="disableOverlay();"></div>
        <nav class="menu-container">
            <img src="/resources/slyso234.png" alt="SkyStats Logo"
                class="skystats-img" />

            <div class="togglemenu">
                <button class="join-discord-button" onclick="redirectDiscord()">Join
                    our
                    Discord</button>
            </div>

            <div class="menu">
                <ul> </ul>
                <ul>
                    <li>
                        <button class="join-discord-button"
                            onclick="redirectDiscord()">Join
                            our Discord</button>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="second-blur-box">
        </div>
        <div class="blur-box" data-sticky>
            <div class="player_profile">
                <span class="text-stats-for">Stats for</span>&ThickSpace;&ThickSpace;
                <span tabindex="0" class="stats_for_player">
                    <div class="rank-tag nice-colors-dark">
                        <% let rank = userData.rank;
                        if (rank !== undefined) rank = rank.toLowerCase()%>
                        <% if (rank === "vip") { %>
                            <div class="rank-name" style="background-color: var(--§a)">VIP</div>
                        <% } else if (rank === "vip+") { %>
                            <div class="rank-name" style="background-color: var(--§a)">VIP</div>
                            <div class="rank-plus" style="background-color: var(--§6)">
                                <div class="rank-plus-before" style="background-color: var(--§6)"></div>
                                <span class="rank-plus-text">+</span>
                            </div>
                        <% } else if (rank === "mvp") { %>
                            <div class="rank-name" style="background-color: var(--§b)">MVP</div>
                        <% } else if (rank === "mvp+") { %>
                            <div class="rank-name" style="background-color: var(--§b)">MVP</div>
                            <div class="rank-plus" style="background-color: var(--§c)">
                                <div class="rank-plus-before" style="background-color: var(--§c)"></div>
                                <span class="rank-plus-text">+</span>
                            </div>
                        <% } else if (rank === "mvp++") { %>
                            <div class="rank-name" style="background-color: var(--§6)">MVP</div>
                            <div class="rank-plus" style="background-color: var(--§c)">
                                <div class="rank-plus-before" style="background-color: var(--§c)"></div>
                                <span class="rank-plus-text">++</span>
                            </div>
                        <% } else if (rank === "dragon") { %>
                            <div class="rank-name" style="background-color: var(--§5)">DRAGON</div>
                        <% } else if (rank === "helper") { %>
                            <div class="rank-name" style="background-color: var(--§9)">HELPER</div>
                        <% } else if (rank === "mod") { %>
                            <div class="rank-name" style="background-color: var(--§2)">MODERATOR</div>
                        <% } else if (rank === "dev") { %>
                            <div class="rank-name" style="background-color: var(--§6)">DEVELOPER</div>
                        <% } else if (rank === "admin") { %>
                            <div class="rank-name" style="background-color: var(--§c)">ADMIN</div>
                        <% } else if (rank === "h-dev") { %>
                            <div class="rank-name" style="background-color: var(--§c)">H-DEVELOPER</div>
                        <% } else if (rank === "jrmedia") { %>
                            <div class="rank-name" style="background-color: var(--§c)">JR. MEDIA</div>
                        <% } else if (rank === "media") { %>
                            <div class="rank-name" style="background-color: var(--§c)">MEDIA</div>
                        <% } else { %>
                            <div class="rank-name" style="background-color: var(--§d)">BT</div>
                        <% } %>
                    </div>
                    <%= username %>
                    <% if(uuidData.raw_id === 'f7ccf53e8acd466aab8a087ebefe1452') { %>
                        <!-- rsnx -->
                        <div class="badge badge-code dashicons dashicons-editor-code"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '76543db3e9934b2facb1d964d6844a21') { %>
                        <!-- Uhut -->
                        <div class="badge badge-code dashicons dashicons-editor-code"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === 'ffdd482c9e5141ccbc8b4bdfb472e203') { %>
                        <!-- eqrta -->
                        <div class="badge badge-speaker dashicons dashicons-star-filled"> </div>
                    <% } %>

                    <!-- Beta Tester -->
                    <% if(uuidData.raw_id === 'fc0f9935607c47ecab32a33cec4df6b4') { %>
                        <!-- Apple -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === 'e3985d54cc6c45869b58aebc88d1fecf') { %>
                        <!-- RNG_Carried -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '0467557458ac443fb1f42d3c0fb9e797') { %>
                        <!-- 1rax -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '76543db3e9934b2facb1d964d6844a21') { %>
                        <!-- Uhut -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '09e84fed663940a2b4b8e607732366ff') { %>
                        <!-- _Sheldor_ -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === 'ffdd482c9e5141ccbc8b4bdfb472e203') { %>
                        <!-- eqrta -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '6255c98197fa48b9abe12f9fddef8558') { %>
                        <!-- trvthfuls -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '0127ea5b261f473a85865f337f8d0875') { %>
                        <!-- Sinon / LlennOwO -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === 'a91f06c6a1594ebbaa27771d5aa61f6b') { %>
                        <!-- Lastro / m23f -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === 'c6d662c5c8624f14b0eb92eda2f392c8') { %>
                        <!-- Absolute_Void / Shard_of_the_UwU -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === '10009311053840c282a37c2eb3566275') { %>
                        <!-- StormChestplate -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                    <% if(uuidData.raw_id === 'f0a5a299399841e880c2997a20960d94') { %>
                        <!-- Harnit -->
                        <div class="badge badge-speaker dashicons dashicons-heart"> </div>
                    <% } %>
                </span>
                &ThickSpace;&ThickSpace;<span class="text-on">on</span>&ThickSpace;&ThickSpace;<span class="text-skysim">SkySim</span>
                <!-- <p class="unique-visits">Unique Visits: 
                    <span class="unique-visits-number" id="unique-visits">
                    </span>
                </p> -->
                <p class="all-time-visits">All-Time Visits: 
                    <span class="all-time-visits-number" id="unique-visits" style="color: var(--§4) !important;">
                        COMING SOON
                    </span>
                </p>
                <!-- <i class="fa-solid fa-star favorizeIcon" id="favorized"></i>
                <i class="fa-regular fa-star favorizeIcon"
                    id="notFavorized"></i> -->
            </div>
            <div class="player_socials">
                <a href="https://auctions.craftlink.xyz/players/<%=
                    uuidData.raw_id %>"
                    target="_blank" rel="noreferrer"
                    class="additional-player-stat
                    player-hyauction">HyAuctions</a>
                <a href="https://plancke.io/hypixel/player/stats/<%=username %>"
                    target="_blank" rel="noreferrer"
                    class="additional-player-stat
                    player-plancke">Plancke</a>
            </div>
            <!--Skill Section-->
            <div class="skills">
                <div id="nav_bar">
                    <div id="nav_bar_line"></div>
                    <div id="nav_bar_background"></div>
                    <div id="nav_items_container">
                        <a class="nav-item" id="armornav" href="#Armor">Armor</a>
                        <a class="nav-item" id="invnav"href="#Inventory">Inventory</a>
                        <a class="nav-item" id="wardrobenav"href="#Wardrobe">Wardrobe</a>
                        <a class="nav-item" id="echestnav"href="#Enderchest">Enderchest</a>
                        <a class="nav-item" id="petsnav"href="#Pets">Pets</a>
                        <a class="nav-item" id="dungeonsnav"href="#Dungeons">Dungeons</a>
                    </div>
                </div>
                <%- include('./apinotice.ejs') %>
                <%- include('./skills.ejs'); %> 
                <%- include("./stats.ejs"); %> 
                <%- include('./armor.ejs'); %>
                <%- include('./inventory.ejs'); %>
                <%- include('./wardrobe.ejs'); %>
                <%- include('./enderchest.ejs'); %>
                <%- include('./pets.ejs'); %>
                <%- include('./dungeons.ejs'); %>
            </div>
        </div>
    </body>
    <script src="/js/profile.js"></script>
</html>