<div class="player-stats">
    <div class="player-stats-column">
      <div class="health-stat">
          <div class="heart-icon"></div>
          <span class="health-text">Health</span>
          <span class="health-value">
              <%= userData['stats'].health.toLocaleString() %>
          </span>
      </div>
      <div class="defense-stat">
          <div class="defense-icon"></div>
          <span class="defense-text"
              data-tippy-content="Effective Health: <%= Math.round(userData['stats'].effectiveHP.hp).toLocaleString() %>">Defense</span>
          <span class="defense-value">
              <%= userData['stats'].defense.toLocaleString() %>
          </span>
      </div>
      <div class="strength-stat">
          <div class="strength-icon"></div>
          <span class="strength-text">Strength</span>
          <span class="strength-value">
              <%= userData['stats'].strength.toLocaleString() %>
          </span>
      </div>
      <div class="speed-stat">
          <div class="speed-icon"></div>
          <span class="speed-text">Speed</span>
          <span class="speed-value">
              <%= userData['stats'].speed.toLocaleString() %>%
          </span>
      </div>
    </div>
    <div class="player-stats-column">
      <div class="crit-chance-stat">
          <div class="crit-chance-icon"></div>
          <span class="crit-chance-text">Crit Chance</span>
          <span class="crit-chance-value">
              <%= userData['stats']['crit']['chance'].toLocaleString() %>%
          </span>
      </div>
      <div class="crit-damage-stat">
          <div class="crit-damage-icon"></div>
          <span class="crit-damage-text">Crit Damage</span>
          <span class="crit-damage-value">
              <%= userData['stats']['crit']['damage'].toLocaleString() %>%
          </span>
      </div>
      <div class="attack-speed-stat">
          <div class="attack-speed-icon"></div>
          <span class="attack-speed-text">Attack Speed</span>
          <span class="attack-speed-value">
              <%= userData['stats']['attackSpeed'].toLocaleString() %>%
          </span>
      </div>
      <div class="intelligence-stat">
          <div class="intelligence-icon"></div>
          <span class="intelligence-text">Intelligence</span>
          <span class="intelligence-value">
              <%= userData['stats']['mana'].toLocaleString() %>
          </span>
      </div>
    </div>
    <div class="player-stats-column">
      <div class="mf-stat">
          <div class="mf-icon"></div>
          <span class="mf-text">Magic Find</span>
          <span class="mf-value">
              <%= userData['stats']['magicFind'].toLocaleString() %>
          </span>
      </div>
      <div class="ferocity-stat">
          <div class="ferocity-icon"></div>
          <span class="ferocity-text">Ferocity</span>
          <span class="ferocity-value">
              <%= userData['stats']['ferocity'].toLocaleString() %>
          </span>
      </div>
      <div class="ability-damage-stat">
          <div class="ability-damage-icon"></div>
          <span class="ability-damage-text">Ability Damage</span>
          <span class="ability-damage-value">
              <%= userData['stats']['abilityDamage'].toLocaleString() %>%
          </span>
      </div>
    </div>
  </div>
  <!--Purse, Bank, Bits Section etc-->
  <div class="player-statistics-misc">
    <span class="text-purse">Purse:</span>
    <span class="purse-value">
        <%= userData['coins'].abbrev %> Coins
    </span>
    <span class="text-bank">Bank:</span>
    <span class="bank-value">
        <%= userData['coins'].bank.abbrev %> Coins
    </span>
    <span class="text-bits">Bits:</span>
    <span class="bits-value">
        <%= userData['bits'].abbrev %> Bits
    </span>
    <span class="text-weight">Weight:</span>
    <span class="weight-value">
        <%= userData['weight'].weightAbbrev %> (<%=
                Math.round(userData['weight'].totalWeight).toLocaleString() %>)
    </span>
  </div>
