<div class="text-wardrobe" style="position: absolute; top: 1130px;">Wardrobe</div>
<div class="pieces">
  <% 
  let wardrobeArray = wardrobe;
  let headArray = [];
  let chestArray = [];
  let legArray = [];
  let bootArray = [];

  for (let i = 0; i < wardrobeArray.length; i+=4) {
    headArray.push(wardrobeArray[i]);
  }
  for (let i = 1; i < wardrobeArray.length; i+=4) {
    chestArray.push(wardrobeArray[i]);
  }
  for (let i = 2; i < wardrobeArray.length; i+=4) {
    legArray.push(wardrobeArray[i]);
  }
  for (let i = 3; i < wardrobeArray.length; i+=4) {
    bootArray.push(wardrobeArray[i]);
  }
  let secondHeadArray = headArray.splice(headArray.length - 9, 9);
  let secondChestArray = chestArray.splice(chestArray.length - 9, 9);
  let secondLegArray = legArray.splice(legArray.length - 9, 9);
  let secondBootArray = bootArray.splice(bootArray.length - 9, 9);
  %>
  <!-- Head -->
  <div class="row">
    <% for(let j = 0; j < headArray.length; j++) { if(headArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(headArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= headArray[j].texture === undefined ? '' : headArray[j].texture.replace(`http://textures.minecraft.net/texture/`, `https://mc-heads.net/head/`);  %>')"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <!-- Chest -->
  <div class="row">
    <% for(let j = 0; j < chestArray.length; j++) { if(chestArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(chestArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[chestArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <!-- Leg -->
  <div class="row">
    <% for(let j = 0; j < legArray.length; j++) { if(legArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(legArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[legArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <!-- Boot -->
  <div class="row">
    <% for(let j = 0; j < bootArray.length; j++) { if(bootArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(bootArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[bootArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <div class="separator">Wardrobe Page 2</div>
  <!-- Head -->
  <div class="row">
    <% for(let j = 0; j < secondHeadArray.length; j++) { if(secondHeadArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondHeadArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= secondHeadArray[j].texture === undefined ? '' :  secondHeadArray[j].texture.replace(`http://textures.minecraft.net/texture/`, `https://mc-heads.net/head/`);  %>')"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <!-- Chest -->
  <div class="row">
    <% for(let j = 0; j < secondChestArray.length; j++) { if(secondChestArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondChestArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[secondChestArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <!-- Leg -->
  <div class="row">
    <% for(let j = 0; j < secondLegArray.length; j++) { if(secondLegArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondLegArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[secondLegArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } %>
  </div>
  <!-- Boot -->
  <div class="row">
    <% for(let j = 0; j < secondBootArray.length; j++) { if(secondBootArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondBootArray[j].lore); %>-bg">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[secondBootArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } %>
  </div>
</div>