<div class="text-wardrobe" style="position: absolute; top: 1605px;">Wardrobe</div>
<div class="pieces">
  <div class="separator text-wardrobe-seperator">Wardrobe Page 1</div>
  <% 
  let wardrobeArray = wardrobe;
  let headArray = [];
  let chestArray = [];
  let legArray = [];
  let bootArray = [];

  for (let i = 0; i < wardrobeArray.length; i+=4) {
    headArray.push(wardrobeArray[i]);
  }
  for (let i = 1; i < wardrobeArray.length; i+=4) {
    chestArray.push(wardrobeArray[i]);
  }
  for (let i = 2; i < wardrobeArray.length; i+=4) {
    legArray.push(wardrobeArray[i]);
  }
  for (let i = 3; i < wardrobeArray.length; i+=4) {
    bootArray.push(wardrobeArray[i]);
  }
  let secondHeadArray = headArray.splice(headArray.length - 9, 9);
  let secondChestArray = chestArray.splice(chestArray.length - 9, 9);
  let secondLegArray = legArray.splice(legArray.length - 9, 9);
  let secondBootArray = bootArray.splice(bootArray.length - 9, 9);
  %>
  <!-- Head -->
  <div class="row">
    <% for(let j = 0; j < headArray.length; j++) { if(headArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(headArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(headArray[j].lore); %>-bg <%= headArray[j].name %>" lore="<%= headArray[j].lore %>" lore="<%= headArray[j].lore %>">
          <% if (headArray[j].material.toLowerCase() === "stained_glass") { %>
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/glass_red.png')"></div>
          <% } else { %>
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= headArray[j].material.toLowerCase() %>.png')"></div>
          <% } %>
        </div>
      </div>
    <% } else if (headArray[j].material.toLowerCase() === "leather_helmet") { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(headArray[j].lore); %>-bg <%= headArray[j].name %>" lore="<%= headArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/helmet/' + intToRGB(headArray[j].color).r + ',' + intToRGB(headArray[j].color).g + ',' + intToRGB(headArray[j].color).b %>')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(headArray[j].lore); %>-bg <%= headArray[j].name %>" lore="<%= headArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= headArray[j].texture === undefined ? armorAttr[headArray[j].type.toLowerCase()] : headArray[j].texture.replace(`http://textures.minecraft.net/texture/`, `https://mc-heads.net/head/`);  %>')"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <!-- Chest -->
  <div class="row">
    <% for(let j = 0; j < chestArray.length; j++) { if(chestArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(chestArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(chestArray[j].lore); %>-bg <%= chestArray[j].name %>" lore="<%= chestArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= chestArray[j].material.toLowerCase() %>.png')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(chestArray[j].lore); %>-bg <%= chestArray[j].name %>" lore="<%= chestArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[chestArray[j].type.toLowerCase()] === undefined ? 'https://sky.lea.moe/leather/chestplate/' + intToRGB(chestArray[j].color).r + ',' + intToRGB(chestArray[j].color).g + ',' + intToRGB(chestArray[j].color).b + '' : armorAttr[chestArray[j].type.toLowerCase()]%>');"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <!-- Leg -->
  <div class="row">
    <% for(let j = 0; j < legArray.length; j++) { if(legArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(legArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(legArray[j].lore); %>-bg <%= legArray[j].name %>" lore="<%= legArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= legArray[j].material.toLowerCase() %>.png')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(legArray[j].lore); %>-bg <%= legArray[j].name %>" lore="<%= legArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[legArray[j].type.toLowerCase()] === undefined ? 'https://sky.lea.moe/leather/leggings/' + intToRGB(legArray[j].color).r + ',' + intToRGB(legArray[j].color).g + ',' + intToRGB(legArray[j].color).b + '' : armorAttr[legArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <!-- Boot -->
  <div class="row">
    <% for(let j = 0; j < bootArray.length; j++) { if(bootArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(bootArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(bootArray[j].lore); %>-bg <%= bootArray[j].name %>" lore="<%= bootArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= bootArray[j].material.toLowerCase() %>.png')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(bootArray[j].lore); %>-bg <%= bootArray[j].name %>" lore="<%= bootArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[bootArray[j].type.toLowerCase()] === undefined ? 'https://sky.lea.moe/leather/boots/' + intToRGB(bootArray[j].color).r + ',' + intToRGB(bootArray[j].color).g + ',' + intToRGB(bootArray[j].color).b + '' : armorAttr[bootArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <div class="separator text-wardrobe-seperator">Wardrobe Page 2</div>
  <!-- Head -->
  <div class="row">
    <% for(let j = 0; j < secondHeadArray.length; j++) { if(secondHeadArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(secondHeadArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(secondHeadArray[j].lore); %>-bg <%= secondHeadArray[j].name %>" lore="<%= secondHeadArray[j].lore %>" lore="<%= secondHeadArray[j].lore %>">
          <% if (secondHeadArray[j].material.toLowerCase() === "stained_glass") { %>
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/glass_red.png')"></div>
          <% } else { %>
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= secondHeadArray[j].material.toLowerCase() %>.png')"></div>
          <% } %>
        </div>
      </div>
    <% } else if (secondHeadArray[j].material.toLowerCase() === "leather_helmet") { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(secondHeadArray[j].lore); %>-bg <%= secondHeadArray[j].name %>" lore="<%= secondHeadArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= 'https://sky.lea.moe/leather/helmet/' + intToRGB(secondHeadArray[j].color).r + ',' + intToRGB(secondHeadArray[j].color).g + ',' + intToRGB(secondHeadArray[j].color).b %>')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondHeadArray[j].lore); %>-bg <%= secondHeadArray[j].name %>" lore="<%= secondHeadArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= secondHeadArray[j].texture === undefined ? armorAttr[secondHeadArray[j].type.toLowerCase()] : secondHeadArray[j].texture.replace(`http://textures.minecraft.net/texture/`, `https://mc-heads.net/head/`);  %>')"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <!-- Chest -->
  <div class="row">
    <% for(let j = 0; j < secondChestArray.length; j++) { if(secondChestArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(secondChestArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(secondChestArray[j].lore); %>-bg <%= secondChestArray[j].name %>" lore="<%= secondChestArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= secondChestArray[j].material.toLowerCase() %>.png')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondChestArray[j].lore); %>-bg <%= secondChestArray[j].name %>" lore="<%= secondChestArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[secondChestArray[j].type.toLowerCase()] === undefined ? 'https://sky.lea.moe/leather/chestplate/' + intToRGB(secondChestArray[j].color).r + ',' + intToRGB(secondChestArray[j].color).g + ',' + intToRGB(secondChestArray[j].color).b + '' : armorAttr[secondChestArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <!-- Leg -->
  <div class="row">
    <% for(let j = 0; j < secondLegArray.length; j++) { if(secondLegArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(secondLegArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(secondLegArray[j].lore); %>-bg <%= secondLegArray[j].name %>" lore="<%= secondLegArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= secondLegArray[j].material.toLowerCase() %>.png')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondLegArray[j].lore); %>-bg <%= secondLegArray[j].name %>" lore="<%= secondLegArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[secondLegArray[j].type.toLowerCase()] === undefined ? 'https://sky.lea.moe/leather/leggings/' + intToRGB(secondLegArray[j].color).r + ',' + intToRGB(secondLegArray[j].color).g + ',' + intToRGB(secondLegArray[j].color).b + '' : armorAttr[secondLegArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } }%>
  </div>
  <!-- Boot -->
  <div class="row">
    <% for(let j = 0; j < secondBootArray.length; j++) { if(secondBootArray[j] === null) { %>
      <div class="wardrobe-set">
        <div class="piece piece-NONE-bg"></div>
      </div>
    <% } else {%>
    <% if (minecraftMaterials.includes(secondBootArray[j].material)) { %>
      <div class="wardrobe-set">
        <div class="piece piece-<%= loreToRarity(secondBootArray[j].lore); %>-bg <%= secondBootArray[j].name %>" lore="<%= secondBootArray[j].lore %>">
          <div class="piece-1-icon armor-piece" style="--item-icon: url('../Resources/armor/<%= secondBootArray[j].material.toLowerCase() %>.png')"></div>
        </div>
      </div>
    <% } else { %>
    <div class="wardrobe-set">
      <div class="piece piece-<%= loreToRarity(secondBootArray[j].lore); %>-bg <%= secondBootArray[j].name %>" lore="<%= secondBootArray[j].lore %>">
        <div class="piece-1-icon armor-piece" style="--item-icon: url('<%= armorAttr[secondBootArray[j].type.toLowerCase()] === undefined ? 'https://sky.lea.moe/leather/boots/' + intToRGB(secondBootArray[j].color).r + ',' + intToRGB(secondBootArray[j].color).g + ',' + intToRGB(secondBootArray[j].color).b + '' : armorAttr[secondBootArray[j].type.toLowerCase()] %>');"></div>
      </div>
    </div>
    <% } } }%>
  </div>
</div>